@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

p, h1, h2, h3, h4, h5{
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
}

.card{
    border-radius: 10px!important;
}

.card-header{
    background-color: rgba(0, 0, 0, .2);
    font-weight: 600;
    border-radius: 10px 10px 0px 0px!important;
}

hr{
    margin: 0;
}

.profile-img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
}

@media only screen and (max-width: 576px) {
    .profile-img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: top;
        margin: 10px 0;
    }
}